{% extends 'base.html' %}
{% block title %}
    Strona główna
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Cel aplikacji</h2>
        <p class="text-center">Aplikacja ma na celu pobranie oraz wyświetlenie opinii o danym produkcie z serwisu Ceneo.pl tak, aby użytkownik mógł szybko przeanalizować produkt po opiniach.</p>
      </div>
      <div class="col">
        <h2 class="text-center">Opis działania aplikacji</h2>
        <p class="text-center">Aplikacja pobiera opinie o konkretnym produkcie, a następnie wyświetla je w formie tabeli oraz wykresów. Umożliwia użytkownikowi pobranie plików w formacie .csv, .json lub .xlsx, a także filtrowanie oraz sortowanie danych po dowolnych kolumnach.</p>
      </div>
      <div class="col">
        <h2 class="text-center">Zastosowane biblioteki</h2>
        <ul class="list-group text-center compact-list">
            <li class="list-group-item transparent-bg">os</li>
            <li class="list-group-item transparent-bg">json</li>
            <li class="list-group-item transparent-bg">requests</li>
            <li class="list-group-item transparent-bg">BeautifulSoup</li>
            <li class="list-group-item transparent-bg">Pandas</li>
            <li class="list-group-item transparent-bg">openpyxl.workbook</li>
            <li class="list-group-item transparent-bg">xlsxwriter</li>
            <li class="list-group-item transparent-bg">io</li>
            <li class="list-group-item transparent-bg">matplotlib.pyplot</li>
            <li class="list-group-item transparent-bg">base64</li>
          </ul>
      </div>
      <div class="col">
        <h2 class="text-center">Zastosowane podejścia</h2>
        <p class="text-center">Tworzenie i użycie funkcji do różnych celów, korzystanie ze słowników i iteracja po nich. Automatyzacja niektórych procesów działania strony poprzez pętle i ciągłe pobieranie danych. Ręczne testowanie Scrapera w środowisku wirtualnym (venv).</p>
      </div>
    </div>
  </div>
{% endblock %}