{% extends 'base.html' %}
{% block title %}
    Opinie o produkcie
{% endblock %}

{% block content %}
  {% if error_message %}
    <div class="alert alert-danger" role="alert">
      {{ error_message }}
    </div>
  {% endif %}
  <div class="container">
    <h1 class="mt-5">Ceneo Reviews Extractor</h1>
    <form method="POST" action="{{ url_for('opinions_page') }}">
        <div class="form-group">
            <label for="product_id">Product ID:</label>
            <input type="text" class="form-control" id="product_id" name="product_id" required>
        </div>
        <button type="submit" class="btn btn-primary">Extract Reviews</button>
    </form>
  </div>

  {% if data %}
    <table class="table table-dark table-striped table-bordered border-secondary">
      <thead>
        <tr>
          <th scope="col">Autor</th>
          <th scope="col">Rekomendacja</th>
          <th scope="col">Ocena</th>
          <th scope="col">Treść opinii</th>
          <th scope="col">Zalety</th>
          <th scope="col">Wady</th>
          <th scope="col">Data wystawienia opinii</th>
          <th scope="col">Data zakupu</th>
          <th scope="col">Opinia przydatna</th>
          <th scope="col">Opinia nieprzydatna</th>
          <th scope="col">ID opinii</th>
        </tr>
      </thead>
      <tbody>
        {% for value in data %}
        <tr>
          <td>{{ value.author }}</td>
          <td>{{ value.recommandation }}</td>
          <td>{{ value.rating }}</td>
          <td>{{ value.content }}</td>
          <td>{{ value.pros }}</td>
          <td>{{ value.cons }}</td>
          <td>{{ value.opinion_date }}</td>
          <td>{{ value.purchase_date }}</td>
          <td>{{ value.likes }}</td>
          <td>{{ value.dislikes }}</td>
          <td>{{ value.opinion_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
    
{% endblock %}