{% extends 'base.html' %}
{% block title %}
    Opinie o produkcie
{% endblock %}

{% block content %}
  {% if error_message %}
    <div class="alert alert-danger" role="alert">
      {{ error_message }}
    </div>
  {% endif %}
  <div class="container">
    <h1 class="mt-5">Eksrakcja opinii</h1>
    <form method="POST" action="{{ url_for('opinions_page') }}">
        <div class="form-group">
            <label for="product_id">Product ID:</label>
            <input type="text" class="form-control" id="product_id" name="product_id" required>
        </div>
        <button type="submit" class="btn btn-primary">Rozpocznij ekstrakcję</button>
    </form>
    {% if product_id %}
      <!-- Ten kod przeniesie użytkownika automatycznie do strony produktu po pobraniu opinii -->
      {% set redirect_url = url_for('product_page', product_id=product_id) %}
      <meta http-equiv="refresh" content="0; URL='{{ redirect_url }}'">
    {% endif %}
  </div>
{% endblock %}